* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  ::selection {
    background-color: #FF6780;
    color: white;
  }
  body {
    font-family: "Montserrat", sans-serif;
    /* background: #A7CF40; */
  }
  /*####################### Nav Start #######################*/
nav .up {
    border-radius: 20px;
    border: 2px solid #da1c4bc2;
    text-decoration: none;
    color: rgb(212, 221, 221);
    /* background: rgb(48, 36, 36); */
    padding: 10px 20px;
    font-size: 16px;
    transition: 1s;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 18px;
  }
  .up:hover {
    background: #da1c4b;
  }
  nav {
    height: 55px;
    /* background: #2c3e5000; */
    width: 100%;
    position: absolute;
  }
  nav img {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 50px;
    cursor: pointer;
  }
  nav ul {
    float: right;
    margin-top: 25px;
    margin-right: 130px;
  }
  nav ul li {
    display: inline;
    margin: 0 15px;
    line-height: 80%;
  }
  nav ul li a {
    color:#dad8d8;
    position: relative;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px;
  }
  /************ Under line**************/
  nav ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #da1c4b;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
  }
  nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  /******* Icon menu**********/
nav label #open,
nav label #close {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/*################################**GALLERY**#########*/
.gallery {
  width: 100%;
  height: 60vh;
  background: linear-gradient(to right , rgba(0, 38, 82, 0.5) , rgba(0, 0, 0, 0.568)), url(../img_Married/pic25-free-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}
.gallery h6 {
  font-size: 24px;
  color: white;
  padding-bottom: 20px;
  text-shadow: 0 4px 10px #000000;
}
.devider {
  width: 62.39px;
  height: 2px;
  background: #da1c4b;
  margin: auto;
}
.gallery h1 {
  padding-bottom: 20px;
  font-size: 90px;
  color: white;
  text-shadow: 0 4px 10px #000000;
}

/*################################**TWO**#########*/

.two{
  width: 100%;
  height: 130vh;
  background: #f5f5f5;
  padding-top: 100px; 
}
.two .gallery2{
  /* width:100%; */
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 12PX;
  padding: 0px 50px 0px 50px;
}
.two .gallery2 img:hover{
  transform: scale(1.1);
}
.two .gallery2 .img3{
  height: 345px;
  width: 384px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.two .gallery2 .img4{
  height: 345px;
  width: 384px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.two .gallery2 .img5{
  height: 345px;
  width: 384px;
  border-radius: 5px;
  transition: 0.3s ease;
}

/*################################**Three**#########*/

.three{
  width: 100%;
  height: 30vh;
  /* background: #f5f5f5; */
  /* padding-top: 35px;  */
  display: flex;
  justify-content: space-between;
}
.three .vd1{
  height: 570px;
  width: 650px;
}
.three .backgrnd{
  background:#F6F6F6; 
  height: 370px;
  width: 650px;
  text-align: center;
  margin-top: 100px;
}
.three .backgrnd .txt{
  padding-top: 130px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.856);
}

/*################################**four**#########*/

.four{
  width: 100%;
  height: 130vh;
  /* background: #f5f5f5; */
  padding-top: 35px; 
  display: flex;
  justify-content: space-between;
}
.four .vd2{
  height: 570px;
  width: 650px;
  margin-top: 200px;
}
.four.backgrnd2{
  background:#913333; 
  height: 370px;
  width: 650px;
  text-align: center;
  margin-top: 200px;
}
.four .backgrnd2 .txt{
  padding-top: 400px;
  padding-left: 130px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.856);
}

 /*################################**Five**#########*/

 .five{
  width: 100%;
  height: 101vh;
  /* background: #f5f5f5; */
  padding-top: 35px; 
  display: flex;
  
}
.background3{
  height: 614px;
  width: 676px;
  background:#FF4362;
  text-align: center;
}
.background3 img{
  padding-top: 210px;
}
.background3 .bkd p{
color: white;
}
.background3 .bkd h1{
  color: white;
  font-size: 60px;
}
.background3 .bkd .fa-facebook{
  height: 15px;
  width: 15px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 50%;
  color: #FF6780;
  padding: 15px;
  cursor: pointer;
}
.background3 .bkd .fa-instagram{
  height: 15px;
  width: 15px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 50%;
  color: #FF6780;
  padding: 15px;
  cursor: pointer;
}
.background3 .bkd .fa-twitter{
  height: 15px;
  width: 15px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 50%;
  color: #FF6780;
  padding: 15px;
  cursor: pointer;
}
.background3 .bkd .fa-youtube{
  height: 15px;
  width: 15px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 50%;
  color: #FF6780;
  padding: 15px;
  cursor: pointer;
}

.form{
width: 30%;
text-align: center;
margin-left: 100px;
padding-top: 60px; 
color: #000000cc;
}
.form h1 {
  font-size: 43px;
}
.form p {
  font-size: 18px;
}
.form .f {
  text-align: justify;
  border: 1px solid black;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #f8f8f88e;
  color: #000000;
}
.form .f2{
  text-align: justify;
  border: 1px solid black;
  width: 100%;
  height: 40px;
  padding-bottom: 100px;
  padding-left: 10px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #f8f8f88e;
  color: #000000;
}
.form .btn {
  color: #000000;
  width: 100%;
  height: 48px;
    font-size: 16px;
    padding: 17px 40px;
    /* background-color: #da1c4b; */
    border: 2px solid #da1c4b;
    /* color: white; */
    text-decoration: none;
    border-radius: 30px 60px;
    transition: 1s;
}
.form .btn:hover {
  color: #ffffff;
  background-color: #da1c4b;
}

/*################################**FOOTER**#########*/
footer{
  height: 131px;
  width: 100%;
background:#252D41;
display: flex;
justify-content: space-between;
text-align: center;
}
footer .n1{
padding-top: 50px;
padding-left: 60px;
color: #dad8d8;
}
footer .n2{
  padding-top: 50px;
  padding-right: 60px;
  color: #dad8d8;
  }
  footer .n3 img{
    padding-top: 10px;
    width: 140px;
    font-size: 10px;
    cursor: pointer;
    }
